@import '@economist/component-font-officina';

.wincover {
  font-family: Officina;
  background-color: #253A43;
  max-width: 1190px;
  margin: 0 auto;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  user-select: none;
}

.wincover--imagecontainer {
  display: flex;
  width: 100%;
  position: relative;
  padding-top: 56.25%;
  background-image: url(/assets/cover_bg.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  overflow: hidden;
}

.wincover--image, .wincover--image--singleselected, .wincover--image--allselected {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: auto;
  display: none;
}

.wincover--image > img,
.wincover--image--singleselected > img,
 .wincover--image--allselected > img {
  width: 100%;
}

.wincover--image--singleselected {
  display: block;
  width: 100%;
  height: auto;
}

.wincover--image--allselected {
  display: block;
  width: 100%;
  height: auto;
}

.wincover--body-copy {
  max-width: 690px;
  height: 410px;
  background-color: #253A43;
  margin: 10px auto;
  overflow: hidden;
}

.wincover--body-copy > div {
  display: none;
  padding: 20px;
}

.wincover--body-copy p {
  color: #fff;
  font-size: 25px;
  line-height: 35px;
}

.wincover--body-copy h2 {
  font-weight: bold;
  color: #FFF600;
  font-size: 40px;
  margin: 0;
}

.wincover--body-copy a {
  text-decoration: none;
}

.wincover-byline {
  color: #367FB6;
  font-size: 15px;
  display: block;
  float: left;
  padding: 6px 0 20px 0;
}

.wincover-readmore {
  width: 120px;
  float: right;
  height: 26px;
  position: relative;
}

.wincover-readmore span,
.wincover-readmore span a {
  font-size: 20px;
  font-style: italic;
  color: #FFF600;
  line-height: 20px;
  float: left;
  padding-top: 5px;
  margin-left: 4px;
}

.wincover-readmore-arrow {
  fill: #FFF600;
  height: 100%;
  float: right;
  position: absolute;
  right: -13px;
  top: 2px;
}

.wincover-readmore span:hover {
  border-bottom: 1px solid #FFF600;
  cursor: pointer;
}

.wincover .wincover--scroller{
  background-color: #253A43;
  flex: 24;
  max-width: 100%;
  max-height: 48px;
}

.wincover--scroller {
  width: 100%;
  max-width: 1190px;
  padding: 0;
  margin: 0;
  max-height: 48px;
  border-top: 1px solid #FFF;
  border-bottom: 1px solid #fff;
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
  position: relative;
}

.wincover--scroller .carousel--previous-arrow,
.wincover--scroller .carousel--next-arrow {
  cursor: pointer;
  width: 40px;
  max-width: 40px;
  height: 48px;
  max-width: 40px;
  position: absolute;
  z-index: 1;
}

.wincover--scroller .carousel--previous-arrow:hover {
  background: linear-gradient(to right, rgba(81,98,105,1) 50%,rgba(81,98,105,0) 100%);
}

.wincover--scroller .carousel--next-arrow:hover {
  background: linear-gradient(to right, rgba(81,98,105,0) 0%,rgba(81,98,105,1) 50%);
}

.wincover--scroller .carousel--previous-arrow {
  background: linear-gradient(to right, rgba(37,58,67,1) 50%,rgba(37,58,67,0) 100%);
}

.wincover--scroller .carousel--next-arrow {
  background: linear-gradient(to right, rgba(37,58,67,0) 0%,rgba(37,58,67,1) 50%);
  right: 0;
  top: 0;
}

.wincover--scroller .carousel--previous-arrow svg,
.wincover--scroller .carousel--next-arrow svg {
 width: 100%;
 height: 100%;
 fill: #FFF600;
 display: block;
}

.wincover--scroller-arrow-hidden {
  opacity: 1;
}

.wincover--scroller .carousel--innerlist {
  display: flex;
  padding: 0;
  margin: 0;
}

.wincover--body-copy div:first-child .wincover-readmore {
  display: none;
}

.wincover--scroller .carousel--element:first-child {
  padding-left: 15px;
}

.wincover--scroller .carousel--element:last-child {
  padding-right: 15px;
}

.wincover--scroller .carousel--element {
  padding: 0;
  margin:0;
  cursor: pointer;
  list-style: none;
  min-height: 48px;
  min-width: 72px;
  height: 100%;
  border-right: 1px solid #fff;
  display: flex;
  flex-direction: column;
  flex: 2;
}

.wincover--scroller .carousel--element:hover {
  background-color: #516269;
}

.wincover--scroller .carousel--element:last-child {
  border: 0;
}

.wincover--scroller .carousel--element,
.wincover--scroller .carousel--element[data-carousel-active="true"] {
  text-align: center;
  line-height: 48px;
  font-size: 16px;
  color: #fff;
}

.wincover--scroller .carousel--element[data-carousel-active="true"] {
  flex: 1;
  background-color: #367FB6;
}

@media only screen and (max-width: 780px) {

  .wincover--scroller::before,
  .wincover--scroller::after {
    content: "";
    width: 15px;
    height: 100%;
    background: linear-gradient(to right, rgba(37,58,67,1) 0%,rgba(37,58,67,0) 100%);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }

  .wincover--scroller::after {
    background: linear-gradient(to left, rgba(37,58,67,1) 0%,rgba(37,58,67,0) 100%);
    top: 0;
    left: calc(100% - 15px);
  }

  .wincover--scroller .carousel--previous-arrow,
  .wincover--scroller .carousel--next-arrow {
    display: none;
  }

  .wincover--scroller .carousel--element:first-child {
    padding-left: 0;
  }

  .wincover--scroller .carousel--element:last-child {
    padding-right: 0;
  }


  .wincover--imagecontainer {
    padding-top: 89%;
    background-size: auto 100%;
    background-position: 46% 0;
  }

  .wincover--image, .wincover--image--singleselected, .wincover--image--allselected {
    width: auto;
  }

  .wincover--image > img,
  .wincover--image--singleselected > img,
   .wincover--image--allselected > img {
    width: 158%;
    transform: translateX(-17%);
  }

  .wincover--body-copy {
    height: 400px;
    margin: 20px;
  }

  .wincover--body-copy h2 {
    font-size: 22px;
    line-height: 30px;
  }

  .wincover--body-copy p {
    font-size: 18px;
    line-height: 24px;
  }
}
